body
{ 
    .grid1 {
        display: grid;
        grid-template-columns: auto auto auto ;  
        padding: 30px;
        margin: 30px;
        width: 50px;
        gap: 10px;
    }
    
    .g1{
       grid-column-start: 1;
       grid-column-end: 3;

       grid-row-start: 1;
       grid-row-end: 5;
    }
    
    .g4
    {
     grid-column-start: 4;
     grid-column-end: 5;
     
     grid-row-start: 1;
     grid-row-end: 5;
    }
     
     
     .grid2 {
      display: grid;
      grid-template-columns: auto auto auto auto;
     grid-gap:5px;
     justify-content: center;
     
  }
  
  
  .so1{
     grid-column-start: 1;
     grid-column-end: 3;

     grid-row-start: 1;
     grid-row-end: 3;
 
  }
.so2{
   grid-column-start: 2;
   grid-column-end: 5;

   grid-row-start: 1;
   grid-row-end: 3;
   margin-left: 210px;
}
.so4
{
 margin-right: 20px;
}


    .flex-container
    {
        display: flex;
        justify-content: center;
        
          
        
    }
     .flex-item1
     {
        /* background-color: cadetblue; */
        padding: 30px;
      
        
        
     }

     .flex-item2
     {
        padding: 30px;
     }
     .flex-item3
     {
        padding: 30px;
        
     }
      .btn
      {
       width: 180px;
        border-radius: 10rex;
        border-color: white;
        background-color: darkgray;
      }
    
      .tb
      {
         border-color:lavender;
         border-radius: 50;
      }
}