
    .grid1 {
        display: grid;
        grid-template-columns: auto auto auto ;  
        padding: 30px;
        margin: 30px;
        width: 50px;
        gap: 10px;
    }
    
    .g1{
       grid-column-start: 1;
       grid-column-end: 3;

       grid-row-start: 1;
       grid-row-end: 5;
    }
    
    .g4
    {
     grid-column-start: 4;
     grid-column-end: 5;
     
     grid-row-start: 1;
     grid-row-end: 5;
    }
     
     
     .grid2 {
      display: grid;
      grid-template-columns: auto auto auto auto;
     grid-gap:5px;
     justify-content: center;
     
  }
  
  
  .so1{
     grid-column-start: 1;
     grid-column-end: 3;

     grid-row-start: 1;
     grid-row-end: 3;
 
  }
.so2{
   grid-column-start: 2;
   grid-column-end: 5;

   grid-row-start: 1;
   grid-row-end: 3;
   margin-left: 210px;
}
.so4
{
 margin-right: 20px;
}


    .flex-container
    {
        display: flex;
        justify-content: center;
        margin-left: 100px;
        
          
        
    }
     

     .flex-item2, .flex-item3,.flex-item1
     {
        padding: 30px;
     }
     
    .btn
      {
       width: 180px;
       height: 50px;
        border-radius: 10rex;
        border-color: white;
        background-color: darkgray;
        margin-left: 140px;
      }
    
    .circle-btn
    {
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
    
    .bg
    {
      background-color: black;
      color: white;
    }
      
      
      .contact-text
      {
         
         margin-left: 630px;
      }
      .info-div
      {
         margin-left:540px ;
      }

      .input-info
      {
         background-color: black ;
         border-color: gray;
         font-size: 23px;
      }